[project]
	description = gerrit integration demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/neilmofo
[access "refs/for/refs/*"]
	read = group user/neilmofo
	push = group user/neilmofo
	label-Code-Review = -2..+2 group user/neilmofo
	label-Verified = -1..+1 group user/neilmofo
	rebase = group user/neilmofo
	removeReviewer = group user/neilmofo
	submit = group user/neilmofo
[access "refs/heads/*"]
	read = group user/neilmofo
	create = group user/neilmofo
	push = +force group user/neilmofo
	pushMerge = group user/neilmofo
[access "refs/tags/*"]
	push = +force group user/neilmofo
	pushTag = group user/neilmofo
	pushSignedTag = group user/neilmofo
